<h1 class="logo cursive">
    Champ
</h1>

<div class="content">
  <h3 class="motto">Make the Most of Your Fitbit</h3>
  <div class="subscribe">
      <h5 class="info-text">
        <strong>Champ</strong> gives you customized, actionable fitness recommendations based on your Fitbit activity data. 
      </h5>
    </div>
  <a href="/api/v1/fitbit/auth?state=http://localhost:9393/authenticated"><div class="btn btn-default btn-lg btn-fill">Get a Sneak Peak</div></a>
</div>